* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #181818;
  color: white;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 2.5rem;
}

.vistors {
  background-color: #7000ff;
  border-radius: 0.625em;
  padding: 2.5rem;
  width: 100%;
}

h1 {
  font-size: 3.4375rem;
  margin: 0;
}

h3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border: #2e2e2e solid 3px;
  border-radius: 0.625rem;
  width: 100%;
  gap: 2rem;
}

.views,
.visitors {
  display: flex;
  gap: 0.6875rem;
}

h2,
p {
  margin: 0;
}

p {
  text-transform: uppercase;
}

.note {
  text-transform: none;
  color: #878787;
  font-size: 0.875rem;
  text-align: center;
}

a.cta {
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #7000ff;
  border-radius: 0.625rem;
  width: 100%;
  padding: 1rem 5rem;
}
